img.img-circle.centered {
    width: 120px;
    height: 120px;
}

.panel-body pre {
    max-height: 400px;
}

button.float-right {
    float: right;
}

button#btnAddDependencies {
    margin-right: 5px;
    margin-left: 5px;
}

.row.modal-response {
    display: none;
}