<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="{% static 'site/image/favicon.png' %}">
    <title>{% block title %}{% include "_brandname.html" %} :: {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/sticky-footer-navbar.css' %}" rel="stylesheet">

    <!-- Custom styles for this site -->
    {% block styles %}
        <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
    {% endblock styles %}

</head>
<body>
<!-- Fixed navbar -->
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">
                    {% block navbar-brand %}
                        {% include "_brandname.html" %}
                    {% endblock %}
                </a>
            </div>
            {% block navbar-menu %}
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% block navbar-left %}{% endblock %}
                    </ul>
                </div><!--/.nav-collapse -->
            {% endblock %}
        </div>
    </nav>
{% endblock %}

<!-- Begin page content -->
<div class="container">
    {% block container %}
        <div class="page-header">
            <h1>Sticky footer with fixed navbar</h1>
        </div>
        <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>
        <p>Back to <a href="#">the default sticky footer</a> minus the navbar.</p>
    {% endblock container %}
</div>

<!-- Site footer -->
<footer class="footer">
    {% block footer %}
        <div class="container">
            <p class="text-muted text-center">Universidad Distrital Francisco Jos&eacute; de Caldas &copy; {% now 'Y' %}</p>
        </div>
    {% endblock %}
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

{% block scripts %}
{% endblock scripts %}

</body>
</html>