{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
    {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block container %}

    <div id="sec1" class="text-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Calcular Recubrimiento M&iacute;nimo</h1>
                </div>
            </div>
        </div>
    </div>

    <div id="sec2" class="text-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-center">
                        <a href="{% url 'upload' %}">
                            <img class="img-circle centered" src="{% static 'site/image/json.png' %}" alt="profile pic">
                        </a>
                    </div>
                    {% comment %}<p class="heavy text-center">JSON</p>{% endcomment %}
                    <h2>Cargar JSON</h2>
                    <p>C&aacute;lculo de recubrimiento m&iacute;nimo mediante datos cargados desde un archivo JSON.</p>
                </div>
                <div class="col-lg-6">
                    <div class="text-center">
                        <a href="{% url 'manual' %}">
                            <img class="img-circle centered" src="{% static 'site/image/computer.png' %}" alt="profile pic">
                        </a>
                    </div>
                    {% comment %}<p class="heavy text-center">Datos</p>{% endcomment %}
                    <h2>Ingresar manualmente</h2>
                    <p>C&aacute;lculo de recubrimiento m&iacute;nimo mediante datos ingresados manualmente.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock container %}
