{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Manual{% endblock %}

{% block navbar-left %}
    {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block container %}
    <h2>Recubrimiento M&iacute;nimo:</h2>
    <br />
    <form id="form" method="post"  data-toggle="validator">
        {% csrf_token %}
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="x">Conjunto de Atributos:</label>
                        <button tabindex="0" id="btnHelperAttributes" type="button" class="btn btn-default float-right" data-placement="top"
                                data-toggle="popover" title="Ayuda" aria-label="Justify"
                                data-content="Ingresar cada atributo separado por coma. Ejemplo: 'A ,B, C'">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-attributes">T</span>
                            <input id="txtAttributes" name="txtAttributes"
                                   required data-error="Campo requerido" pattern="^\w(\s*,?\s*\w)*$"
                                   class="form-control" placeholder="Atributos" aria-describedby="basic-attributes">
                        </div>
                        <div class="help-block with-errors"></div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="x">Conjunto de Dependencias Funcionales:</label>
                        <button tabindex="0" id="btnHelperDependencies" type="button" class="btn btn-default float-right" data-placement="top"
                                data-toggle="popover" title="Ayuda" aria-label="Justify"
                                data-content="Ingresar cada implicado e implicante separado por coma. Ejemplo: 'A, B, C --> A ,B'">
                            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-dependencies">DF</span>
                            <input id="txtDependencies" name="txtDependencies"
                                   required data-error="Campo requerido"
                                   class="form-control" placeholder="Dependencias Funcionales" aria-describedby="basic-dependencies">
                        </div>
                        <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>

            <button id="btnProcess" name="btnProcess" type="submit" class="btn btn-success">Procesar</button>
        </div>
    </form>
    {% comment %}    <div class="form-group">
        <label for="x">Conjunto de Dependencias Funcionales:</label>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">X</span>
                        <input class="form-control" placeholder="Implicante" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Y</span>
                        <input class="form-control" placeholder="Implicado" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Agregar</button>
    </div>{% endcomment %}

    <br />
    {% if uploaded_file_url %}
        <div class="alert alert-info" role="alert">
            Archivo cargado en: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a>
        </div>
        {% if uploaded_file_data %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Resultado</h3>
                        </div>
                        <div class="panel-body">
                            <pre> {{ uploaded_file_data }} </pre>
                        </div>
                    </div>
                </div><!-- /.col-sm-12 -->
            </div>
        {% endif %}
    {% endif %}
    {% if uploaded_file_message %}
        <div class="alert alert-danger" role="alert">
            {{ uploaded_file_message }}
        </div>
    {% endif %}

{% endblock container %}

{% block scripts %}
    <script src="{% static 'bootstrap/js/validator.min.js' %}"></script>
    <script src="{% static 'site/js/engineering.util.js' %}"></script>
    <script src="{% static 'site/js/engineering.functions.js' %}"></script>
{% endblock scripts %}